html
	head
		title Success
		link(rel='stylesheet', href='css/rsvp.css')
	body
		.wrapper
			header.main-container--header
				a(href='http://designkenyasociety.co.ke/', target='_blank')
					img(src='img/logo.png', alt='Design Kenya Society')
			section.main-container--content
				.tabbed-pane--tabbed-pane
					.tabbed-pane--tabs
						.tabbed-pane--_tab
							| RSVP
						.tabbed-pane--_tab
							| Benefits
					.tabbed-pane--content
						
