    /* CSS Reset */
    
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    a,
    abbr,
    acronym,
    address,
    applet,
    article,
    aside,
    audio,
    b,
    big,
    blockquote,
    body,
    canvas,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    details,
    dfn,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    hgroup,
    html,
    i,
    iframe,
    img,
    ins,
    kbd,
    label,
    legend,
    li,
    mark,
    menu,
    nav,
    object,
    ol,
    output,
    p,
    pre,
    q,
    ruby,
    s,
    samp,
    section,
    small,
    span,
    strike,
    strong,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    time,
    tr,
    tt,
    u,
    ul,
    var,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* Base CSS*/
    
    body,
    html {
        color: #525c65;
        font-size: 14px;
        font-family: Open Sans, sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    /* Styling the body */
    
    body {
        background-color: #f4f4ef;
    }
    
    body * {
        box-sizing: border-box;
    }
    
    hr {
        width: 100%;
        height: 1px;
        background-color: #f4f4ef;
        border: none;
        margin: 30px 0;
    }
    
    .form-group {
        display: flex;
    }
    
    input[type=email],
    input[type=text],
    input[type=password],
    textarea {
        width: 100%;
    }
    
    input+input {
        margin-left: 20px;
    }
    
    .form-group+.form-group {
        margin-top: 20px;
    }
    /* Styling the main container header*/
    
    .main-container--header {
        display: flex;
        background: #fff;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 30px 0;
        box-shadow: 0 5px 15px 0 rgba(46, 61, 73, .12);
    }
    
    .main-container--header img {
        /*width: 200px;*/
        height: 35px;
        margin: 0 auto;
    }
    /* Styling the main container content*/
    
    .main-container--content {
        padding: 70px 40px;
    }
    
    .tabbed-pane--tabbed-pane {
        margin-left: auto;
        margin-right: auto;
        box-shadow: 2px 2px 3px 0 hsla(205, 5%, 48%, .12);
        max-width: 620px;
        border: 1px solid #dbe2e8;
        text-align: center;
    }
    
    .tabbed-pane--tabs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .tabbed-pane--content {
        background: #fff;
        padding: 60px;
    }
    
    .tabbed-pane--_tab {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
    }
    
    .form--header {
        font-size: 34px;
        font-weight: 300;
        line-height: 1.3;
        color: #2e3d49;
        text-align: center;
    }
    
    .form--description {
        font-size: 14px;
        line-height: 1.6;
        color: #525c65;
        max-width: 460px;
        margin: 20px auto;
        text-align: center;
    }
    
    .form--form--vx8k8 {
        margin: 25px 0 40px;
    }
    /* Styling the button */
    
    .form--primary-button--1NgrB {
        min-width: 207px;
    }
    
    .ureact-button--normal--1kWMU {
        height: 44px;
        padding: 0 25px;
    }
    
    .ureact-button--primary--2Z4W9 {
        background: #8c0000;
        color: #fff;
    }
    
    .ureact-button--_btn--2nt_i {
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        font-family: Open Sans, sans-serif;
        display: inline-block;
        border: none;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }
    /* Styling the hr element */
    
    hr {
        width: 100%;
        height: 1px;
        background-color: #dbe2e8;
        border: none;
        margin: 30px 0;
    }
    
    .ureact-text-input--text-input--10NET {
        height: 44px;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid #dbe2e8;
        font-size: 14px;
        box-shadow: 0 2px 2px 0 rgba(46, 60, 73, .05);
        border-radius: 2px;
        color: #2e3d49;
    }
    
    .index--description--113WL {
        color: #757c81;
        line-height: 1.4;
        font-size: 14px;
        font-weight: 300;
    }
    
    .index--buttons--1r2XL {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
    }
    
    ._provider-button--provider-button--6VDst {
        width: 100%;
        border: 1px solid #dbe2e8!important;
        color: #757c81;
    }
    
    .ureact-button--normal--1kWMU {
        height: 44px;
        padding: 0 25px;
    }
    
    .ureact-button--secondary--2oU3S {
        color: #2e3d49;
        background: #fff;
        border: 1px solid #02b3e4;
    }
    
    .ureact-button--_btn--2nt_i {
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        font-family: Open Sans, sans-serif;
        display: inline-block;
        border: none;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }
    
    ._provider-button--label--3kTNo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    ._provider-button--label--3kTNo img {
        width: 24px;
        margin-right: 15px;
    }